- content_for(:title, 'Login Basic')

= vuexy_login_basic(title: 'Example Title', text: 'Example Sub-Text') do
  %form.auth-login-form.mt-2
    .mb-1
      %label.form-label{ for: 'login-email' } Email
      %input.form-control#login-email{ type: 'text', name: 'login-email', aria: { describedby: 'login-email' } }
