- content_for(:title, 'Login Cover')

= vuexy_login_cover(title: 'Login Cover', text: 'A great branded solution', image: image_url('login-v2-dark')) do
  %form.auth-login-form.mt-2
    .mb-1
      %label.form-label{ for: 'login-email' } Email
      %input.form-control#login-email{ type: 'text', name: 'login-email', aria: { describedby: 'login-email' } }
