!!! 5
%html.loading{ class: ('dark-layout' if Vuexy.config.dark_mode?) }
  %head
    %title= "#{yield :title} : #{Vuexy.config.app_name}"
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    - vuexy_assets_css
    - @vuexy_assets_css&.each do |css|
      = stylesheet_link_tag css

  %body.vertical-layout.vertical-menu-modern.blank-page.navbar-floating.footer-static{ data: { open: 'click', menu: 'vertical-menu-modern', col: 'blank-page' } }
    -# BEGIN: Content
    .app-content.content
      .content-overlay
      .header-navbar-shadow
      .content-wrapper
        .content-header.row
        .content-body
          -# .row
          -#   .col-12.p-4

          - if notice
            .alert.alert-primary
              .alert-body= notice
          - if alert
            .alert.alert-primary
              .alert-body= alert

          = yield

    - @vuexy_assets_js&.each do |js|
      = javascript_include_tag js
