!!! 5
%html.loading{ class: ('dark-layout' if Vuexy.config.dark_mode?) }
  %head
    %title= "#{yield :title} : #{Vuexy.config.app_name}"
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'vuexy/application'

  %body.horizontal-layout.horizontal-menu.navbar-floating.footer-static{ data: { open: 'hover', menu: 'horizontal-menu', col: '' } }

    -# BEGIN: Content
    .app-content.content
      .content-overlay
      .header-navbar-shadow
      .content-wrapper.container-xxl.p-0
        .content-header.row
        .content-body
          %section#dashboard-ecommerce
            .row.match-height
              .col-xl-4.col-md-6.col-12
                = yield

    = javascript_include_tag 'vendors/js/vendors.min'
    = javascript_include_tag 'vuexy/core/app-menu'
    = javascript_include_tag 'vuexy/core/app'
    = javascript_include_tag 'vuexy/application'
