!!! 5
%html.loading{ class: ('dark-layout' if Vuexy.config.dark_mode?) }
  %head
    %title= "#{yield :title} : #{Vuexy.config.app_name}"
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag
    - vuexy_assets_css
    - @vuexy_assets_css&.each do |css|
      = stylesheet_link_tag css

  %body.vertical-layout.vertical-menu-modern.navbar-floating.footer-static{ data: { open: 'click', menu: 'vertical-menu-modern', col: '' } }

    -# BEGIN: Header
    - if @vuexy_header
      = render partial: 'vuexy/components/header'

    -# = render layout: 'vuexy/components/header' do
    -#   = yield :header

    -# BEGIN: Primary Navigation
    - if @vuexy_navigation
      = render partial: 'vuexy/components/side_nav'

    -# BEGIN: Content
    .app-content.content
      .content-overlay
      .header-navbar-shadow
      .content-wrapper.container-xxl.p-0
        .content-header.row
          .content-header-left.col-md-9.col-12.mb-2
            .row.breadcrumbs-top
              .col-12
                %h2.content-header-title.float-start.mb-0= yield :title
                .breadcrumb-wrapper
                  %ol.breadcrumb
                    -# = render_breadcrumbs :tag => :li, :seperator => ''
        .content-body

          - if notice
            .alert.alert-primary
              .alert-body= notice
          - if alert
            .alert.alert-primary
              .alert-body= alert

          = yield

    -# BEGIN: Footer
    .sidenav-overlay
    .drag-target

    - @vuexy_assets_js&.each do |js|
      = javascript_include_tag js
