
@import url(https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600);

// Begin theme
@import 'vendor/vendors.min';

@import 'bootstrap';
@import 'bootstrap-extended';

@import 'colors';
@import 'components';
@import 'themes/dark-layout';
@import 'themes/bordered-layout';
@import 'themes/semi-dark-layout';

@import 'core/menu/menu-types/vertical-menu';
// End theme

.breadcrumb {
  li:not(:first-child):not(:last-child) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  li:first-child {
    padding-right: 0.5rem;
  }

  li:last-child {
    padding-left: 0.5rem;
  }
}
