.auth-wrapper.auth-basic.px-2
  .auth-inner.my-2
    .card.mb-0
      .card-body
        -# LOGO GOES HERE

        %h4.card-title.mb-1= local_assigns[:title]
        %p.card-text.mb-2= local_assigns[:text]

        = capture(&block) unless block.nil?
