.auth-wrapper.auth-cover
  .auth-inner.row.m-0

    -# BEGIN COVER
    .d-none.d-lg-flex.col-lg-8.align-items-center.p-5
      .w-100.d-lg-flex.align-items-center.justify-content-center.px-5
        %img.img-fluid{ src: local_assigns[:image] }

    -# BEGIN LOGIN
    .d-flex.col-lg-4.align-items-center.auth-bg.px-2.p-lg-5
      .col-12.col-sm-8.col-md-6.col-lg-12.px-xl-2.mx-auto
        %h2.card-title.fw-bold.mb-1= local_assigns[:title]
        %p.card-text.mb-2= local_assigns[:text]

        = capture(&block) unless block.nil?
