!!! 5
%html
  %head
    %title Dummy
    %meta{ name: 'viewport', content: 'width=device-width,initial-scale=1' }
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application'

  %body
    = yield
