- content_for(:title, 'Dashboard')

%button.btn.btn-primary{ data: vuexy_modal_trigger('modalTest') }
  = vuexy_icon 'gift'
  Win a Prize!

= vuexy_modal('modalTest') do
  %h1 o_O
  %br
  .text-center
    %button.btn.btn-primary{ data: vuexy_modal_close } Ok
