= content_for(:title, 'Home')

.text-center
  %ul.list-style-icons
    %li
      = link_to dashboard_root_url do
        = vuexy_icon 'chevron-right'
        Dashboard (vertical-menu template)

%h6.text-center
  Crafted with
  = vuexy_icon 'heart', style: 'height: 1.51rem;width: 1.51rem;color: #ea5455;'
