%nav.header-navbar.navbar.navbar-expand-lg.align-items-center.floating-nav.navbar-dark.navbar-shadow.container-xxl
  .navbar-container.d-flex.content
    .bookmark-wrapper.d-flex.align-items-center

      -# BEGIN MENU TOGGLE
      %ul.nav.navbar-nav.d-xl-none
        %li.nav-item
          = link_to '#', class: 'nav-link menu-toggle' do
            %i.ficon{ data: { feather: 'menu' }, width: '14', height: '14' }

      -# BEGIN BOOKMARKS
      - @vuexy_header['bookmarks']&.each do |bookmark|
        %ul.nav.navbar-nav.bookmark-icons
          %li.nav-item.d-none.d-lg-block
            %a{ href: bookmark['path'] || '#', class: 'nav-link', aria: { label: bookmark['text'] }, data: { bs: { toggle: 'tooltip', placement: 'bottom', 'original-title': bookmark['text'] } } }
              %i.ficon{ data: { feather: bookmark['icon'] }, width: '14', height: '14' }

    -# BEGIN USER DROPDOWN
    - if user = @vuexy_header['user']
      %ul.nav.navbar-nav.align-items-center.ms-auto
        %li.nav-item.dropdown.dropdown-user
          = link_to '#', class: 'nav-link dropdown-toggle dropdown-user-link', id: 'dropdown-user', data: { 'bs-toggle': 'dropdown' }, aria: { haspopup: true, expanded: false } do
            .user-nav.d-sm-flex.d-none
              %span.user-name.fw-bolder= user['name']&.titleize
              %span.user-status= user['status']&.titleize
            %span.avatar
              %img.round{ src: user['avatar'], height: 40, width: 40, alt: 'avatar' }
              %span.avatar-status-online
            .dropdown-menu.drop-menu-end{ aria: { labelledby: 'dropdown-user' } }
              - user['links']&.each do |link|
                - if link.keys.include? 'divider'
                  .dropdown-divider
                - else
                  = link_to link['path'] || '#', class: 'dropdown-item', method: (link['method'] if link['method']) do
                    %i.me-50{ data: { feather: link['icon'] } }
                    = link['text']
