.modal.fade{ id: local_assigns[:id], tabindex: -1, aria: { labeledby: "#{local_assigns[:id]}Title", hidden: true } }
  .modal-dialog.modal-dialog-centered.modal-md
    .modal-content
      .modal-header.bg-transparent
        %button.btn-close{ type: 'button', data: { bs: { dismiss: 'modal' } }, aria: { label: 'Close' } }
      .modal-body.px-sm5.mx-50.pb-4
        = capture(&block) unless block.nil?
