.main-menu.menu-fixed.menu-accordion.menu-shadow{ class: ('menu-dark' if Vuexy.config.dark_mode?), data: { 'scroll-to-active': true } }
  .navbar-header
    %ul.nav.navbar-nav.flex-row
      %li.nav-item.nav-toggle
        %a.nav-link.modern-nav-toggle.pe-0{ data: { 'bs-toggle': 'collapse' } }
          %i.d-block.d-xl-none.text-primary.toggle-icon.font-medium-4{ data: { feather: 'x' } }
          %i.d-none.d-xl-block.collapse-toggle-icon.font-medium-4.text-primary{ data: { feather: 'disc', ticon: 'disc' } }
  .shadow-bottom
  .main-menu-content
    %ul.navigation.navigation-main#main-menu-navigation{ data: { menu: 'menu-navigation' } }

      -# BEGIN DASHBOARD MENU
      -# %li.nav-item
        %a.d-flex.align-items-center
          %i{ data: { feather: 'home' } }
          %span.menu-title.text-truncate Dashboards
        %ul.menu-content
          - if current_user.is_admin?
            %li{ class: ('active' if current_page?(admin_root_url)) }
              = link_to admin_root_url, class: 'd-flex align-items-center' do
                %i{ data: { feather: 'circle' } }
                %span.menu-item.text-truncate Administrator
          %li{ class: ('active' if dashboard? && controller_name == 'static_pages' && action_name == 'index') }
            = link_to dashboard_root_url, class: 'd-flex align-items-center' do
              %i{ data: { feather: 'circle' } }
              %span.menu-item.text-truncate Agent

      -# BEGIN DYNAMIC LINKS
      - @vuexy_navigation['navigation']&.each do |nav|
        - if nav.keys.include? 'header'
          %li.navigation-header
            %span= nav['header']
            %i{ data: { feather: 'more-horizontal' } }
        - elsif nav.keys.include? 'link'
          %li.nav-item{ class: ('active' if current_page?(nav['link']['path'])) }
            %a.d-flex.align-items-center{ href: nav['link']['path'], target: nav['link']['target'] }
              %i{ data: { feather: nav['link']['icon'] } }
              %span.menu-item.text-truncate= nav['link']['text']
            - if nav['link']['links']
              %ul.menu-content
                - nav['link']['links']&.each do |link|
                  %li{ class: ('active' if current_page?(link['path'])) }
                    = link_to link['path'], class: 'd-flex align-items-center' do
                      %i{ data: { feather: link['icon'] } }
                      %span.menu-item.text-truncate= link['text']
                    - if link['links']
                      %ul.menu-content
                        - link['links']&.each do |sub_link|
                          %li{ class: ('active' if current_page?(sub_link['path'])) }
                            = link_to sub_link['text'], sub_link['path'], class: 'd-flex align-items-center'
